src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">





	<flow name="oyo-hotels-rest-api-main">
		<http:listener config-ref="HTTP_Listener_config"
			path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]" reasonPhrase="OK">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<os:retrieve doc:name="Retrieve"
			doc:id="d736250b-3066-4d39-a613-cb4bbee2fd44" key="numberOfRequests"
			target="numberOfRequests" objectStore="RequestsCounter">
			<os:default-value><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<apikit:router config-ref="oyo-hotels-rest-api-config" />
		<os:store doc:name="Store"
			doc:id="f1c85065-4f22-402d-9172-2e7278ff0167" key="numberOfRequests"
			objectStore="RequestsCounter">
			<os:value><![CDATA[#[vars.numberOfRequests as Number + 1]]]></os:value>
		</os:store>
		<logger level="INFO" doc:name="Logger"
			doc:id="74c9b528-d877-4826-8232-deabbc8bc831"
			message="Number of requests: #[vars.numberOfRequests as Number + 1]" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="oyo-hotels-rest-api-console">
		<http:listener config-ref="HTTP_Listener_config"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="oyo-hotels-rest-api-config" />
		<error-handler>
			<on-error-propagate
				type="APIKIT:NOT_FOUND, EXPRESSION" enableNotifications="true"
				logException="true">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="put:\hotels\(hotelId):application\json:oyo-hotels-rest-api-config">
		<flow-ref doc:name="updateHotelsByIDFlowImpl"
			doc:id="40b597f6-c9eb-4fbb-a4ad-8dcf3b08f05c"
			name="updateHotelsByIDFlowImpl" />
	</flow>
	<flow name="delete:\hotels\(hotelId):oyo-hotels-rest-api-config">
		<flow-ref doc:name="deleteHotelsByIDFlowImpl"
			doc:id="3423113f-64ff-4530-bc77-57ccbd32b1fb"
			name="deleteHotelsByIDFlowImpl" />
	</flow>
	<flow name="get:\hotels:oyo-hotels-rest-api-config">
		<flow-ref doc:name="getHotelsByCityFlowImpl"
			doc:id="bcccba39-c8fb-4b58-a9e5-56182d36ce4b"
			name="getHotelsByCityFlowImpl" />
	</flow>
	<flow name="get:\hotels\(hotelId):oyo-hotels-rest-api-config">
		<flow-ref doc:name="getHotelsByIdFlowImpl"
			doc:id="47316045-64da-4bea-a83c-5a7c60aeaab2"
			name="getHotelsByIdFlowImpl" />
	</flow>
	<flow
		name="post:\hotels:application\json:oyo-hotels-rest-api-config">
		<flow-ref doc:name="postHotelsFlowImpl"
			doc:id="f8de7657-6ede-49ce-9c01-87b9700f6922"
			name="postHotelsFlowImpl" />
	</flow>
</mule>
